FactCheck_searching/StepFunction_SearchFactChecks
{
  "Comment": "A simple AWS Step Functions state machine that creates a new item in the database and enriches it with information for the detectives.",
  "Comment": "Use following Comment for testing with Text: At the university...",
  "Comment": "At the university hospital in Toulouse, France, there are four very critical cases of coronavirus in [young people] who do not have any health problems. Their problem is that when they all appeared to have symptoms, they all took painkillers like ibuprofen",
  "StartAt": "Extract Claim",
  "States": {
    "Extract Claim": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:ExtractClaim",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.Claim",
      "Next": "Detect Dominant Language"
    },
    "Detect Dominant Language": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetLanguage",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "InputPath": "$.concatenation",
      "ResultPath": "$.LanguageCode",
      "Next": "Detect Key Phrases"
    },
    "Detect Key Phrases": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetKeyPhrases",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.KeyPhrases",
      "Next": "Detect Entities"
    },
    "Detect Entities": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetEntities",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.Entities",
      "Next": "Detect Sentiment"
    },
    "Detect Sentiment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetSentiment",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.Sentiment",
      "Next": "Search Fact Checks"
    },
    "Search Fact Checks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:SearchFactChecks",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.FactChecks",
      "End": true
    },
    "EnrichmentFailed": {
      "Type": "Pass",
      "OutputPath": "$.CreateItemResult",
      "End": true
    }
  }
}