FactCheck_searching/StepFunction_SearchFactChecks
{
  "Comment": "A simple AWS Step Functions state machine that creates a new item in the database and enriches it with information for the detectives.",
  "Comment": "Use folowing Comment for testing with Text: At the university...",
  "Comment": "At the university hospital in Toulouse, France, there are four very critical cases of coronavirus in [young people] who do not have any health problems. Their problem is that when they all appeared to have symptoms, they all took painkillers like ibuprofen",
  "StartAt": "Detect Dominant Language",
  "States": {
    "Detect Dominant Language": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetLanguage",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.LanguageCode",
      "Next": "Detect Key Phrases"
    },
    "Detect Key Phrases": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:GetKeyPhrases",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.KeyPhrases",
      "Next": "Search Fact Checks"
    },
    "Search Fact Checks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:SearchFactChecks",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "EnrichmentFailed"
        }
      ],
      "ResultPath": "$.FactChecks",
      "End": true
    },
    "EnrichmentFailed": {
      "Type": "Pass",
      "OutputPath": "$.CreateItemResult",
      "End": true
    }
  }
}