lambda_functions/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 'SAM template for DetektivKollektiv API'

Globals:
  Function:
    Timeout: 30
  Api:
    OpenApiVersion: 3.0.1
    
Parameters:
  STAGE:
    Type: String
  CorsAllowOrigin:
    Type: String
  DBNAME:
    Type: String
    Default: development_db
    
Resources:
  Api:
    Type: AWS::Serverless::Api
    Properties:
      StageName: 
        Ref: STAGE
      Cors:
        AllowMethods: "'OPTIONS, PUT, POST, GET'"
        AllowHeaders: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
        AllowOrigin: "'*'"
      Auth:
        DefaultAuthorizer: AWS_IAM
        AddDefaultAuthorizerToCorsPreflight: false
        InvokeRole: NONE

  WhatsappForwardingFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-whatsapp_forwarding-${STAGE}'
      CodeUri: .
      Handler: whatsapp.whatsapp_forwarding
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        WhatsappForwarding:
          Type: Api
          Properties:
            Path: /whatsapp_forwarding
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  CreateItemFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-create_item-${STAGE}'
      CodeUri: .
      Handler: app.create_item
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /items
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllItemsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_items-${STAGE}'
      CodeUri: .
      Handler: app.get_all_items
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Tracing: Active
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /items
            Method: get
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
              
  CreateSubmissionFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-create_submission-${STAGE}'
      CodeUri: .
      Handler: app.create_submission
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /submissions
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllSubmissionsFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_submissions-${STAGE}'
      CodeUri: .
      Handler: app.get_all_submissions
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /submissions
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetItemByIdFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_item_by_id-${STAGE}'
      CodeUri: .
      Handler: app.get_item_by_id
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /items/{id}
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetItemByContentFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_item_by_content-${STAGE}'
      CodeUri: .
      Handler: app.get_item_by_content
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /items/byContent
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetOpenItemsForUserFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_open_items_for_user-${STAGE}'
      CodeUri: .
      Handler: app.get_open_items_for_user
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /open_items_for_user/{num_items}
            Method: get
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin

  SearchFactChecksFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-SearchFactChecks-${STAGE}'
      CodeUri: .
      Handler: SearchFactChecks.get_FactChecks
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  GetLanguageFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-GetLanguage-${STAGE}'
      CodeUri: .
      Handler: GetLanguage.get_language
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  GetKeyPhrasesFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-GetKeyPhrases-${STAGE}'
      CodeUri: .
      Handler: GetKeyPhrases.get_phrases
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  GetEntitiesFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-GetEntities-${STAGE}'
      CodeUri: .
      Handler: GetEntities.get_entities
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  ExtractClaimFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-ExtractClaim-${STAGE}'
      CodeUri: .
      Handler: ExtractClaim.extract_claim
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  GetSentimentFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-GetSentiment-${STAGE}'
      CodeUri: .
      Handler: GetSentiment.get_sentiment
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn

  UpdateLanguageFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-UpdateItem-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.update_item
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  StoreFactChecksFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-StoreFactChecks-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.store_factchecks
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  StoreItemURL:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-StoreItemURL-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.store_itemurl
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  StoreItemEntityFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-StoreItemEntities-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.store_itementities
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  StoreItemSentimentFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-StoreItemSentiment-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.store_itemsentiment
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  StoreItemKeyphraseFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-StoreItemKeyphrases-${STAGE}'
      CodeUri: .
      Handler: EnrichItem.store_itemphrases
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  CreateUserFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-create_user-${STAGE}'
      CodeUri: .
      Handler: app.create_user
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /user
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  CreateUserFromCognitoFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-create_user_from_cognito-${STAGE}'
      CodeUri: .
      Handler: app.create_user_from_cognito
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn      
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllUsersFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_users-${STAGE}'
      CodeUri: .
      Handler: app.get_all_users
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /users
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetUserFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_user-${STAGE}'
      CodeUri: .
      Handler: app.get_user
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /user
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin
            
  DeleteUserFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-delete_user-${STAGE}'
      CodeUri: .
      Handler: user_handler.delete_user
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /user
            Method: delete              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin

  CreateReviewFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-create_review-${STAGE}'
      CodeUri: .
      Handler: app.create_review
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /reviews
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllReviewsFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_reviews-${STAGE}'
      CodeUri: .
      Handler: app.get_all_reviews
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /reviews
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  CreateReviewAnswerFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-create_review_answer-${STAGE}'
      CodeUri: .
      Handler: app.create_review_answer
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /review_answers
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllReviewAnswersFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_review_answers-${STAGE}'
      CodeUri: .
      Handler: app.get_all_review_answers
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /review_answers
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  GetAllReviewQuestionsFunction:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_review_questions-${STAGE}'
      CodeUri: .
      Handler: app.get_all_review_questions
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api # More info about API Event Source: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api
          Properties:
            Path: /review_questions
            Method: get              
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin
      
  ItemSubmissionFunction:
      Type: AWS::Serverless::Function
      Properties:      
        FunctionName: !Sub 'detektivkollektiv-api-item_submission-${STAGE}'
        CodeUri: .
        Handler: app.item_submission
        Runtime: python3.8
        MemorySize: 832
        Role:
          Fn::GetAtt:
          - LambdaExecutionRole
          - Arn
        Events:
          Echo:
            Type: Api
            Properties:
              Auth:
                Authorizer: NONE
              Path: /item_submission
              Method: post
              RestApiId:
                Ref: Api
        Environment:
          Variables:
            DBNAME:
              Ref: DBNAME
            CORS_ALLOW_ORIGIN:
              Ref: CorsAllowOrigin

  SubmitReviewFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-submit_review-${STAGE}'
      CodeUri: .
      Handler: app.submit_review
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /submit_review
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin
            
  ResetLockedItemsFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-reset_locked_items-${STAGE}'
      CodeUri: .
      Handler: app.reset_locked_items
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn      
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME

  AcceptItemFunction:
    Type: AWS::Serverless::Function
    Properties:      
      FunctionName: !Sub 'detektivkollektiv-api-accept_item-${STAGE}'
      CodeUri: .
      Handler: app.accept_item
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /accept_item/{item_id}
            Method: post
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin

  GetAllClosedItemsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'detektivkollektiv-api-get_all_closed_items-${STAGE}'
      CodeUri: .
      Handler: app.get_all_closed_items
      Runtime: python3.8
      MemorySize: 832
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      Tracing: Active
      Events:
        Echo:
          Type: Api
          Properties:
            Path: /items/closed
            Method: get
            RestApiId:
              Ref: Api
      Environment:
        Variables:
          DBNAME:
            Ref: DBNAME
          CORS_ALLOW_ORIGIN:
            Ref: CorsAllowOrigin

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'detektivkollektiv-api-execution-${STAGE}'
      AssumeRolePolicyDocument:
        Statement:
        - Effect: Allow
          Principal:
            Service: [lambda.amazonaws.com]
          Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonRDSDataFullAccess
        - arn:aws:iam::aws:policy/SecretsManagerReadWrite
        - arn:aws:iam::aws:policy/ComprehendFullAccess
        - arn:aws:iam::aws:policy/AmazonCognitoPowerUser
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
        - arn:aws:iam::aws:policy/AWSStepFunctionsFullAccess

  ResetLockedItemsRule: 
    Type: AWS::Events::Rule
    Properties: 
      Description: Resets Locked items every 10 minutes.
      ScheduleExpression: rate(10 minutes)
      State: ENABLED
      Targets: 
        - 
          Arn: 
            Fn::GetAtt: 
              - ResetLockedItemsFunction
              - Arn
          Id: !Sub 'reset_locked_items-${STAGE}'
              
  PermissionForEventsToInvokeLambda: 
    Type: AWS::Lambda::Permission
    Properties: 
      FunctionName: 
        Ref: ResetLockedItemsFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: 
        Fn::GetAtt: 
          - ResetLockedItemsRule
          - Arn

  StateMachineLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
        - Effect: Allow
          Principal:
            Service: [states.amazonaws.com]
          Action: sts:AssumeRole
      Policies:
      - PolicyName: !Sub 'States-Lambda-Execution-DetektivKollektiv-Policy-${STAGE}'
        PolicyDocument:
          Statement:
          - Effect: Allow
            Action:
            - logs:CreateLogStream
            - logs:CreateLogGroup
            - logs:PutLogEvents
            Resource: '*'
          - Effect: Allow
            Action:
            - lambda:InvokeFunction
            Resource: '*'
  SearchFactCheckStepFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString:  !Sub |
          {
            "Comment": "A simple AWS Step Functions state machine that enriches an item with additional information about the content to support the detectives.",
            "Comment": "This Step Function expects an item as input in the event, e.g.: { item: {id: 1234, content: At the university...}}",
            "Comment": "At the university hospital in Toulouse, France, there are four very critical cases of coronavirus in [young people] who do not have any health problems. Their problem is that when they all appeared to have symptoms, they all took painkillers like ibuprofen",
            "StartAt": "Extract Claim",
            "States": {
              "Extract Claim": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-ExtractClaimFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "ResultPath": "$.Claim",
                "Next": "Detect Dominant Language"
              },
              "Detect Dominant Language": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-GetLanguageFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "InputPath": "$.Claim.concatenation",
                "ResultPath": "$.item.language",
                "Next": "Detect Key Phrases"
              },
              "Detect Key Phrases": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-GetKeyPhrasesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
              "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.KeyPhrases",
                "Next": "Detect Entities"
              },
              "Detect Entities": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-GetEntitiesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.Entities",
                "Next": "Detect Title Entities"
              },
              "Detect Title Entities": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-GetEntitiesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.title",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.TitleEntities",
                "Next": "Detect Sentiment"
              },
              "Detect Sentiment": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-GetSentimentFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.Sentiment",
                "Next": "Search Fact Checks"
              },
              "Search Fact Checks": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-SearchFactChecksFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "KeyPhrases.$": "$.KeyPhrases",
                  "TitleEntities.$": "$.TitleEntities",
                  "Entities.$": "$.Entities"
                },
                "ResultPath": "$.FactChecks",
                "Next": "Update Item Language"
              },
              "Update Item Language": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-UpdateItemFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item"
                },
                "ResultPath": null,
                "Next": "Store Fact Check"
              },
              "Store Fact Check": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreFactChecksFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "FactChecks.$": "$.FactChecks"
                },
                "ResultPath": null,
                "Next": "Store Item URL"
              },
              "Store Item URL": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreItemURLFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Claim.$": "$.Claim"
                },
                "ResultPath": null,
                "Next": "Store Item Entities"
              },
              "Store Item Entities": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreItemEntitiesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Entities.$": "$.Entities"
                },
                "ResultPath": null,
                "Next": "Store Item Title Entities"
              },
              "Store Item Title Entities": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreItemEntitiesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Entities.$": "$.TitleEntities"
                },
                "ResultPath": null,
                "Next": "Store Item Sentiment"
              },
              "Store Item Sentiment": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreItemSentimentFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Sentiment.$": "$.Sentiment"
                },
                "ResultPath": null,
                "Next": "Store Item Keyphrases"
              },
              "Store Item Keyphrases": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:eu-central-1:891514678401:function:detektivkollektiv-api-StoreItemKeyphrasesFunctionArn-${STAGE}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "KeyPhrases.$": "$.KeyPhrases"
                },
                "ResultPath": null,
                "End": true
              },
              "EnrichmentFailed": {
                "Type": "Pass",
                "End": true
              }
            }
          }
      RoleArn:
        Fn::GetAtt:
        - StateMachineLambdaRole
        - Arn
