lambda_functions/stepfunctions/SearchFactChecks.asl.json
          {
            "Comment": "A simple AWS Step Functions state machine that enriches an item with additional information about the content to support the detectives.",
            "Comment": "This Step Function expects an item as input in the event, e.g.: { item: {id: 1234, content: At the university...}}",
            "Comment": "At the university hospital in Toulouse, France, there are four very critical cases of coronavirus in [young people] who do not have any health problems. Their problem is that when they all appeared to have symptoms, they all took painkillers like ibuprofen",
            "StartAt": "Extract Claim",
            "States": {
              "Extract Claim": {
                "Type": "Task",
                "Resource": "${ExtractClaimFunctionArn",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "ResultPath": "$.Claim",
                "Next": "Detect Dominant Language"
              },
              "Detect Dominant Language": {
                "Type": "Task",
                "Resource": "${GetLanguageFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "InputPath": "$.Claim.concatenation",
                "ResultPath": "$.item.language",
                "Next": "Detect Key Phrases"
              },
              "Detect Key Phrases": {
                "Type": "Task",
                "Resource": "${GetKeyPhrasesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
              "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.KeyPhrases",
                "Next": "Detect Entities"
              },
              "Detect Entities": {
                "Type": "Task",
                "Resource": "${GetEntitiesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.Entities",
                "Next": "Detect Title Entities"
              },
              "Detect Title Entities": {
                "Type": "Task",
                "Resource": "${GetEntitiesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.title",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.TitleEntities",
                "Next": "Detect Sentiment"
              },
              "Detect Sentiment": {
                "Type": "Task",
                "Resource": "${GetSentimentFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "Text.$": "$.Claim.concatenation.Text",
                  "LanguageCode.$":"$.item.language"
                },
                "ResultPath": "$.Sentiment",
                "Next": "Search Fact Checks"
              },
              "Search Fact Checks": {
                "Type": "Task",
                "Resource": "${SearchFactChecksFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "KeyPhrases.$": "$.KeyPhrases",
                  "TitleEntities.$": "$.TitleEntities",
                  "Entities.$": "$.Entities"
                },
                "ResultPath": "$.FactChecks",
                "Next": "Update Item Language"
              },
              "Update Item Language": {
                "Type": "Task",
                "Resource": "${UpdateItemFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item"
                },
                "ResultPath": null,
                "Next": "Store Fact Check"
              },
              "Store Fact Check": {
                "Type": "Task",
                "Resource": "${StoreFactChecksFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "FactChecks.$": "$.FactChecks"
                },
                "ResultPath": null,
                "Next": "Store Item URL"
              },
              "Store Item URL": {
                "Type": "Task",
                "Resource": "${StoreItemURLFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Claim.$": "$.Claim"
                },
                "ResultPath": null,
                "Next": "Store Item Entities"
              },
              "Store Item Entities": {
                "Type": "Task",
                "Resource": "${StoreItemEntitiesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Entities.$": "$.Entities"
                },
                "ResultPath": null,
                "Next": "Store Item Title Entities"
              },
              "Store Item Title Entities": {
                "Type": "Task",
                "Resource": "${StoreItemEntitiesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Entities.$": "$.TitleEntities"
                },
                "ResultPath": null,
                "Next": "Store Item Sentiment"
              },
              "Store Item Sentiment": {
                "Type": "Task",
                "Resource": "${StoreItemSentimentFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "Sentiment.$": "$.Sentiment"
                },
                "ResultPath": null,
                "Next": "Store Item Keyphrases"
              },
              "Store Item Keyphrases": {
                "Type": "Task",
                "Resource": "${StoreItemKeyphrasesFunctionArn}",
                "Catch": [
                  {
                    "ErrorEquals": [ "States.TaskFailed" ],
                    "Next": "EnrichmentFailed"
                  }
                ],
                "Parameters": {
                  "item.$": "$.item",
                  "KeyPhrases.$": "$.KeyPhrases"
                },
                "ResultPath": null,
                "End": true
              },
              "EnrichmentFailed": {
                "Type": "Pass",
                "End": true
              }
            }
          }